/* You can add global styles to this file, and also import other style files */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import "~bootstrap/dist/css/bootstrap.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
/* set table header bg-color */
.head{
    padding-left: 20em;
    color: gray;
    font-weight: bold;
    font-size: 30px;  
}

.headermargin{
    margin-top: 30px;
}
.headercolor{
    background-color: gray;
    color: white;
}
.tablewidth{
    width: 100%;
    padding-bottom: 10px!important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 15px;
}
td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding-right: 15px!important;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.mat-header-cell {
    font-size: 15px;
    font-weight: bold;
    background-color: lightskyblue;
    color: white!important;
}
.mat-paginator-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 56px;
    padding: 0 8px;
    flex-wrap: wrap-reverse;
    width: 100%;
    border-bottom: 1px solid!important;
    padding-bottom: 20px!important;
}